/* Navbar */
nav {
  background-color: #f2f4fc;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between; /* Logo und Kontaktbutton bleiben außen */
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

nav .logo {
  align-items: center;
  justify-content: left;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

/* Neuer Container für die Navigationslinks */
nav .nav-links {
  display: flex;
  justify-content: center; /* Zentriert die Links */
  flex-grow: 1;
}

/* Navigation Links */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  justify-content: center; /* Links innerhalb des ul zentrieren */
}

nav .contact-us {
  background-color: #072ac8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

nav .contact-us:hover {
  color: #ffc600;
  background-color: #0549a8;
}

nav a:hover {
  color: #072ac8;
}
