/* Navbar */
nav {
  background-color: #f2f4fc;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Logo im Header */
nav .logo {
  position: absolute;
  left: 180px;
}

/* Navigation Links */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: center;
}

nav .contact-us {
  background-color: #072ac8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 180px;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

nav .contact-us:hover {
  color: #ffc600;
  background-color: #0549a8;
}

nav a:hover {
  color: #072ac8;
}
