h2.capitalize {
  padding: 50px 200px;
}

/* Boxes */
.box {
  background-color: #f2f4fc;
  padding: 50px 200px;
  border-radius: 10px;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
  margin-top: 100px;
}

.hero-content {
  width: 50%;
}

.hero-images {
  position: relative;
  width: 50%;
  height: auto;
}

.img-hero {
  width: 100%;
  height: auto;
  z-index: 0;
}

.img-card {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 60%;
  height: auto;
  z-index: 1;
}

.img-card-bottom {
  position: absolute;
  bottom: -20%;
  right: -10%;
  width: 60%;
  height: auto;
  z-index: 2;
}

.hero-content-buttons a {
  color: #6b708d;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.hero-content-buttons a:hover {
  background-color: #072ac8;
  color: #ffc600;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Clients Section */
.clients {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 200px;
  flex-wrap: wrap;
}

.clients a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.clients .img-client {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  max-width: 120px;
  height: auto;
}

.clients a:hover .img-client {
  filter: grayscale(0%);
}

/* Testimonial Section */
.testimonial-memojis {
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: 50vh;
  background: url("/assets/testimonial-section/orbit.png") no-repeat center
    center;
  background-color: #292e47;
  background-size: cover;
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-text {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.testimonial-text p {
  color: #ffc600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-profile-info .name {
  color: #a2d6f9;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.testimonial-profile-info .origin {
  color: #ecf7ff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.testimonial-memoji1,
.testimonial-memoji2,
.testimonial-memoji3,
.testimonial-memoji4 {
  position: absolute;
  width: 100px;
  height: 100px;
}

.testimonial-memoji1 {
  top: 0;
  left: 0;
}

.testimonial-memoji2 {
  top: 0;
  right: 0;
}

.testimonial-memoji3 {
  bottom: 0;
  left: 0;
}

.testimonial-memoji4 {
  bottom: 0;
  right: 0;
}

.testimonial-profile-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.testimonial-profile-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testimonial-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Services Section */
.services-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  gap: 30px;
  margin-top: 0;
}

.services h2 {
  text-transform: capitalize;
  padding: 20px 200px;
  margin-bottom: 10px;
  text-align: left;
}

.services-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  transition: transform 0.3s ease;
}

.services-card:hover {
  transform: translateY(-10px);
}

.img-services img {
  max-width: 50px;
  margin-bottom: 20px;
}

.services-card .learn-more {
  color: #072ac8;
  text-decoration: none;
  font-weight: bold;
}

.services-card .learn-more:hover {
  color: #ffc600;
}

/* Newsletter Section */
.newsletter {
  background-color: #ffc600;
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter input {
  padding: 10px;
  width: 50%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.newsletter-subscribe {
  background-color: #072ac8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 45px;
  font-size: 16px;
  box-sizing: border-box;
}

.newsletter-subscribe:hover {
  background-color: #051f8d;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 200px;
  margin-bottom: 50px;
}

.address-info {
  display: flex;
  flex-direction: column;
}

.sitemap {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  padding-right: 200px;
}

.sitemap li {
  width: 33.33%;
  text-align: left;
  position: relative;
}

.sitemap li:nth-child(3n) {
  padding-right: 0;
}

.sitemap a {
  text-decoration: none;
  color: inherit;
}

.sitemap a:hover {
  text-decoration: underline;
}

.clients,
.testimonial-memojis,
.services-container,
.newsletter {
  margin-bottom: 100px !important;
}
